<div class="row">
  <div class="col justify-content-center">
  <h2 class="signup">Login to Account</h2>
  <form class="login-form">
     <div class="form-group">
            <label for="username-email">Email address or username</label>
      <input type="text" class="form-control" id="account-login" aria-describedby="username">
      </div>

    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="password-form" aria-describedby="password">
      </div>

        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-lg">Login</button>
        </div>
  </form>
</div>
<div>
  <a href="./signup.handlebars">SignUp Here</a>
</div>
</div>

<script src="../public/js/login.js"></script>